* {
  margin: 0;
  height: 100% /* This ensures grid rows height works as expected with fr units, else you need to specifiy px*/
}
#entier-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
}

#grid-item-navbar {
  background-color: green;
}

#grid-item-body {
  background-color:blue;
}


