* {
  margin: 0;
  height: 100% /* This ensures grid rows height works as expected with fr units, else you need to specifiy px*/
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  text-align: center;
}

.navbar {
  background-color: grey;
}

.body {
  background-color: orange;
}
