* {
  margin: 0px;
  height: 100%;
}

.landing-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
  grid-template-rows: 6fr 1fr 6fr;
}

.lpc-item {
  border: 1px solid black;
}

.block {
  width: 100%; /* This makes the buttons the entire width of the div */
}