* {
  margin: 0;
}
#landing-page {
  height: 100vh;
  display: grid;
  background-color: lightgreen;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr;
  grid-template-rows: 6fr 1fr 6fr;
  background-image: url(http://placekitten.com/375/667); /* Need images for different devices*/
}


 /* .grid-item { 
  border: 1px solid;
}*/

.button-style {
  width: 100%;
}
